@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
.App {
  text-align: center;
  font-family: "Geologica", sans-serif;
  width: 100vw;
  height: 100vh;  
}
a{
  color: #eceff1;
}
.main{
  display: flex;
  justify-content: center;
}



